//site color variables
$body-color: #fff;
$primary-color: #0057C2;
$secondary-color: #00357A;
$tertiary-color: #42C0FF;
$highlight-color: #F1F0EE;
$text-color: #6f7075;
$text-color-dark: #00357A;
$site-ease: cubic-bezier(0.36, 0.03, 0, 0.91);
$gray: #F7F9FF;
$dark-gray: #646569;

// solid colors
$white: #fff;
$black: #000;
$blue: #0057C2;

// Font Variables
$primary-font: 'Poppins', sans-serif;
$secondary-font: 'Poppins', sans-serif;
$tertiary-font: 'Roboto', sans-serif;